*{
    font-family: "yekan";
    direction: rtl;
}

body{
    background-color: rgb(227, 196, 255);
}


.rep-txt{
    text-align: center;
    margin: 50px;
}

.table-bordered{
    text-align: center;
    margin-top: 50px;
}

.body-color{
    background-color:rgb(246, 246, 246);
}

td{
    width: 0;
}

.btn{
    margin:5px;
}
