*{
    font-family: "yekan";
    direction: rtl;
    text-align: center;
}

body{
    background-image: linear-gradient(to bottom,rgb(176, 176, 176),rgb(133, 133, 227));
    height:100vh;
}

.table-bordered{
    text-align: center;
    margin-top: 50px;
}


td{
    width:0%;
}

.body-color{
    background-color:rgb(246, 246, 246);
    width: 0;
}
.btn{
    margin:5px;
    width:80px;
}