@font-face {
	font-family: "yekan";
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/yekanregular.woff') format('woff'),   
	url('../fonts/yekanregular.woff2') format('woff2');		 
}

@font-face {
	font-family: "yekan";
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/yekanbold.woff') format('woff'),   
	url('../fonts/yekanbold.woff2') format('woff2'); 
}

@font-face {
	font-family: "yekan";
	font-style: normal;
	font-weight: 950;
	src: url('../fonts/yekanextrabold.woff') format('woff'),   
	url('../fonts/yekanextrabold.woff2') format('woff2');		 
}