*{
    direction: rtl;
    font-family: "yekan";
    text-align:center;
}

body{
    background-image: linear-gradient(to bottom, rgb(226, 226, 226) , rgb(50, 50, 50));
    height:100vh;
}


label{
    color: rgb(147, 147, 147);
}


.body-color{
    background-color:rgb(246, 246, 246);

}
.btn{
    margin:5px;
    width:90%;
}

input{
    min-width:150px;
}

@media(max-width:991px){


    .container{
        padding: 0;
    }

    .table{
        font-size: 12px;
    }

    .btn{
        position: relative;
        top: -7px;
        width:80%;
    }
}
